/* line 4, common.scss */
body {
  padding: 0;
  margin: 0;
  background-color: #333333;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

/* line 3, style.scss */
.mainContent {
  width: 70%;
  margin: 0 auto;
  padding: 1%;
}

/* line 16, style.scss */
.mainContent .header {
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #333;
  color: #fff;
  height: 10%;
  text-align: center;
}
/* line 24, style.scss */
.mainContent .header h1 {
  padding-top: 10px;
}
/* line 28, style.scss */
.mainContent .header a {
  color: white;
}

/* line 36, style.scss */
.articles .article {
  border-radius: 5px;
  -moz-border-radius: 5px;
  width: 100%;
  background-color: #ddd;
  padding: 1% 0;
  margin-top: 2%;
}
/* line 43, style.scss */
.articles .article .articleDetails {
  margin-left: 2%;
}
/* line 48, style.scss */
.articles .articleHead {
  font-weight: bold;
  margin-left: 2%;
}
/* line 54, style.scss */
.articles .articleContent {
  margin-left: 2%;
  padding: 5px 0;
}

/* line 61, style.scss */
.cssValidator, .html5Validator {
  float: left;
  margin-left: 5px;
}
